
body {
    background-color: #9B5DE5;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:95%;
    margin: auto;
}

.grid-item {
    border: 10px solid #F15BB5;
    border-radius: 25px;
    font-family: font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#grid-element-one {
/*     background: url("https://img1.picmix.com/output/stamp/normal/6/0/9/4/254906_3c3d0.gif"); */
    background: url("https://giphy.com/gifs/stars-U3qYN8S0j3bpK");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    /* font-weight: bolder; */
    /* color:aliceblue; */
    grid-column:1/-1;
}

#grid-element-two {
    background-color: #9B5DE5;
    color:aliceblue;
    grid-column: 1/2;
    grid-row: 2/9;
}
button {
    
    background-color: #00BBF9 ;
    color: black;
}


button:hover {
    cursor: pointer;
    background-color:#FEE440;
    color: black;
}
  
ul {
    margin-bottom: 20px;
}
li {
    padding: 5px;
    background-size: 20px;
    list-style-type: circle;
}

#grid-element-three {
    background-color: #9B5DE5;
    color:aliceblue;
    font-size: 50px;
    font-style: italic;
    grid-column: 2/7;
    grid-row:2/7;
}
.img-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .img-container > img {
    border: 10px solid #00BBF9;
    border-radius: 25px;
    width: 30%;
    height: auto;
  }
/* #grid-element-four {
    background-color: blue;
    color:aliceblue;
    grid-column: 3/4;
    grid-row:2/7;
}
#grid-element-five {
    background-color: blue;
    color:aliceblue;
    grid-column: 4/5;
    grid-row:2/7;
} */
#grid-element-six {
    background-color: whitesmoke;
    color:aliceblue;
    grid-column:2/-1;
    grid-row: 7/9;
}
#grid-element-seven {
    background-color: #F15BB5;
    color:aliceblue;
    grid-column:1/-1;
}
#chart-button {
    background-color: #00BBF9 ;
}
#chart-button:hover {
    cursor: pointer;
    background-color: #FEE440;
    color: black;
}
